<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Зміна списку пасажирів</title>
</head>
<body>
    <h1>Додавання / видалення / зміна маршруту пасажирів</h1>
    <form method="POST">
        <select name="passengers">
            $passengers
        </select>
        <p>
            <input type="text" name="name" value="" placeholder="ПІБ (для додавання пасажира)" size="60"> <br>
            <input type="text" name="from" value="" placeholder="Місто відбуття (для додавання / зміни маршруту пасажира)" size="60"> <br>
            <input type="text" name="to" value="" placeholder="Місто прибуття (для додавання / зміни маршруту пасажира)" size="60"> <br>
            <h4>Видалити вибраного пасажира<input type="checkbox" name="delete_passenger"></h4>
            <input type="submit" value="Внести зміни"> <br>
        </p>
    </form>
    <a href="/" title="Повернутися на головну">Повернутися на головну</a>
    <p>
        <h4> $result </h4>
    </p>
</body>
</html>